.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;

  .todo {
    color: gray;
    
    .nav-link {
      color: rgb(53, 53, 53);
      
      &:hover {
        color: black;
      }

      &:active {
        color: rgb(53, 53, 53);
      }
    }
  }
}